body{
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;}
h1{font-size: 70px;
}
.highlight{
    color: rgb(235, 111, 23);
}
.a{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.a img{
    width: 100%;
}
.top-banner{ 
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
}
section{
    height: 600px;

}
.link-button{
    text-decoration: none;
    background-color: rgb(206, 95, 15);
    padding: 10px 20px;
    border-radius: 7px;
    font-style: bold;
    color: white;


}
p{
    color: dimgray;

}
.click-button{
    text-decoration: none;
    background-color: rgb(218, 100, 17);
    padding: 10px 40px;
    border-radius: 7px;
    font-style: bold;
    color: white;
}
.background{
    background-image: url(images/background.jpg);
}